<html lang="ko">
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



<title>빠르게 내 주변 맛집을 찾는방법 냠냠</title>

<style>
    * {
        font-family: 'Jua', sans-serif;
    }
    .wrap {
        width: 900px;
        margin: auto;
    }
    .comment {
        color: blue;
        font-weight: bold;
    }
    .posting-box {
        width: 500px;
        margin: 0px auto 20px auto;
        border: 2px solid black;
        padding: 30px;
        border-radius: 10px;
    }
</style>
<script>
    function hey(){
        alert('안녕!!!');
    }
</script>


</head>
<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">나홀로 링크 메모장!</h1>
        <p class="lead">중요한 링크를 저장해두고, 나중에 볼 수 있는 공간입니다</p>
        <hr class="my-4">
        <p class="lead">
            <a onclick="hey()" class="btn btn-primary btn-lg" href="#" role="button">다른 맛집 둘러보기</a>
        </p>
    </div>

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top"
                 src="https://d1blyo8czty997.cloudfront.net/tour-photos/n/4708/1200x600/5791761964.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text" style="align-content: center">식당 이름
                <p class="card-text" style="align-content: center">가게 특징 요약
                <p class="comment">거리</p>
                <p class="comment">주소</p>
            </div>
        </div>











